<!-- Videos -->
   <section id="videos"  class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm12">
                    <h3 align="left">Videos</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm12">
                    <p class="float-right"><a href="#">All videos</a></p>
                </div>
            </div> 
        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="border-left-style: hidden">
                            <a href="https://www.youtube.com/watch?v=Q2R3WF9u1kA"><img src="/assets/video-like-a-rose-530x300.jpg" alt="Like a rose" id="miniature1"><p><strong>Like A Rose — Ashley Monroe</strong></p></a>
                        </td>    
           
                        <td>
                            <a href="https://www.youtube.com/watch?v=DP9W1uuETrc"><img src= "/assets/video-big-love-550-530x300.jpg" alt="Big Love" id="miniature2">
                            <p><strong>Big Love — Carrie Rodriguez</strong></p></a>
                        </td>
            
                        <td style="border-right-style: hidden">
                            <a href="https://www.youtube.com/watch?v=XUH8VszQun8" rel='prettyPhoto'><img src="/assets/video-waitin-on-june-530x300.jpg" alt="Waitin on June"  id="miniature3">
                            <p><strong>Waiting On June — Holly Williams</strong></p></a>
                        </td>
               
                    </tr>  
                    
                </tbody>
            </table>
        </div>    
    </section>